*{
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
.w1200{
    width: 1200px;
    margin: 0 auto;
}

.w100{
    width: 100%;
}

.bg_icon{
    background: url(../img/sp_common.png);
 /*   background-repeat: no-repeat;
    background-position: 0 0; */
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: white;
    z-index: 99;
}
.logo{
    display: block;
    width: 160px;
    height: 40px;
    text-indent: -9999px;
}
.search_wrap{
    width: 345px;
    border-bottom: 1px solid #111;
    
}
.arrow{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: -162px 0;
}
.h_btn_wrap>ul{
    display: flex;
}
.h_btn_wrap>ul>a{
    display: inline-block;
    line-height: 39px;
    padding: 10px;
    font-size: 14px;
    color: #111;
}
.h_btn_wrap>ul>a:last-of-type{
    padding: 0;
    margin-left: 10px;
    margin-top: 5px;
    line-height: 0px;
}
.select_type2{
    position: relative;
    padding-right: 10px;
    margin-top: 11px;
    width: 100%;
    height: 42px;
}
#select_type2{
    width: 60px;
    height: 27px;
    border: 1px solid #ddd;
    border-radius: 13.5px;
    font-size: 12px;
    padding: 0 13px;
    appearance: none;
}
.select_type2::after{
    content: "";
    right: 19px;
    width: 7px;
    height: 7px;
    z-index: 2;
    position: absolute;
    top: 8px;
    display: inline-block;
    border-style: solid;
    border-color: transparent #888 #888 transparent;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
}

nav{
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    z-index: 99;
}
nav>ul{
    display: flex;
    justify-content: space-between;
}
nav>ul a{
    font-size: 18px;
    color: #111;
    line-height: 54px;
    position: relative;
}
.btn_more::after{
    content: "";
    position: absolute;
    display: block;
    top:3px;
    left:63px;
    width: 9px;
    height: 9px;
    border-bottom: 2px solid #111;
    border-right: 2px solid #111;
    transform: rotate(45deg);
}
.sub_nav{
    position: absolute;
    width: 100%;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1s;
    padding: 30px 0;
    background-color: white;
    z-index: 80;
}
.inner_box{
    display: flex;
    margin-left: 360px;
}
.menu_wrap{
    display: flex;
    padding-right: 100px;
}
.menu_box{
    width: 231px;
}
.notice_box{
    padding-top: 20px;
    padding-left: 50px;
    border-left: 1px solid lightgray;
}
.menu_box>a{
    display: block;
    padding-bottom: 20px;
    font-size: 17px;
    color: black;
}
.menu_box>ul>li{
    font-size: 15px;
    margin: 10px 0; 
}
.menu_box>ul>li>a{
    color: black;
}
.notice_box>ul{
    margin-top: 26px;
}
.notice_box>ul>li{
    margin-top: 10px;
}
.notice_box>a{
    color: black;
}
.active{
    top: 154px;
    transition: top 1s;
    
}


footer{
    border-top: 1px solid #ddd;
    padding-top: 52px;
}

.f_wrap{
    display: flex;
    justify-content: space-between;
}
.f_top{
    display: flex;
    align-items: baseline;
}

.f_top>h1{
    width: 125px;
    height: 27px;
    background-position:0 -47px;
}
.f_top>p{
    font-size: 30px;
    padding-left: 13px;
}
.f_nav{
    display: flex;
    padding: 20px 0 30px;
}
.f_nav>li{
    padding-right: 20px;
}
.f_nav>li>a{
    color: #888;

}
.f_nav>li>.bold{
    color: #111;
    font-weight: 600;
}   
.award{
    background-color:#f5f5f5;
    padding: 30px 0;
    margin-top: 40px;
}
.award>ul{
    display: flex;
    justify-content: space-between;
}

..award>ul>li img{
    vertical-align: bottom;
}
.award>ul>li>p{
    display: inline-block;
    font-size: 11px;
    color: #888;
    margin-left: 7px;
    letter-spacing: -1px;
    line-height: 18px;
}
address{
    padding-bottom: 12px;
}
address>p{
    font-size: 12px;
    color: #888;
}
.noti>p{
    font-size: 12px;
    color: #888;
}


.lang{
    width: 174px;
    height: 19px;
    border-bottom: 1px solid #888;
}

dl{
    display: flex;
    font-size: 13px;
    align-items: center;
    padding: 22px 0;

}
dd{
    width: 22px;
    height: 26px;
    margin-left: 15px;
}
.apple{
    background-position: -445px 0;
}
.google{
    background-position: -478px 0;
}
.sns>ul{
    display: flex;
    opacity: 0.4;
    width: 100%;
    justify-content: space-between;
}
.sns{
    margin-top: 120px;
}
.sns a{
    width: 25px;
    height: 22px;
    display: block;
}
.bd{
    background-position: -503px 0;
}
.is{
    background-position: -530px 0;
}
.fb{
    background-position: -556px 0;
}
.yb{
    background-position: -584px 0;
}
.tw{
    background-position: -617px 0;
}

.floating{
    position: fixed;
    right: 50px;
    top:200px;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 99;
}

.floating>a{
    display: block;
    
}
.btn_close{
    display: block;
    position: absolute;
    top: 24px;
    right: 0;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background: none;
}
.btn_close::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #000;
}
.btn_close::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #000;
}

@keyframes float{
    0%{ top:200px }
    100%{ top:192px }
}

